certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1699041438285/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1707240122826/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380072051/work
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225421156/work/dist/numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl#sha256=011d57633d659db8280a5811d62d0c5a615719a6d7cbd46a04f6ffce0c2a7db3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1704252125823/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1706041804770/work/dist/scipy-1.12.0-cp312-cp312-macosx_11_0_arm64.whl#sha256=492ebe973e51236862776064cf4b70d78cfd98b74aa74bcba49e23dc1fa5bf3f
setuptools==69.0.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1695373641614/work
wheel==0.42.0
